@import "colorScheme.css";

body {
    padding: 0;
    margin: 0;
    display: flex;
}

.header-block {
    max-width: 352px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-green);
    text-align: center;
    box-sizing: border-box;
    overflow-y: auto;

}

.header-block::-webkit-scrollbar {
    width: 0;
}

h1 {
    background-color: transparent;
    color: var(--gray-100);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    margin: 100px 0;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
}

h1 i {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1.6;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-block__menu-type {
    height: 76px;
    width: 290px;
    border: 1px solid var(--gray-100);
    padding: 0;
    margin: 20px auto;
    position: relative;

}

.header-block__menu-type a {
    height: 74px;
    width: 288px;
    text-decoration: none;
    color: var(--gray-100);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-block__menu-type:first-child a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background-color: var(--gray-100);
    color: var(--blue-green);
    transition-duration: 0.6s;
}

.header-block__menu-type a:hover {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background-color: var(--gray-100);
    color: var(--blue-green);
    transition-duration: 0.6s;
}

.link-part {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.link-part li {
    width: 50px;
    height: 50px;
    list-style-type: none;
    background-color: var(--gray-100);
    margin: 10px;
    display: flex;
    align-content: center;
    align-items: center;
}

.link-part li a {
    margin: auto;
    font-size: 1.4rem;
}

.link-part li a i {
    color: var(--blue-green);
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

}

.header-block__paragraph {
    max-width: 300px;
    padding: 20px;
    color: var(--gray-100);
    text-align: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 19px;
    line-height: 2em;
}

.body-section {
    max-width: calc(100% - 352px);
    max-height: 590px;
    background-color: var(--white);
    box-sizing: border-box;
    overflow-y: scroll;
    margin: 20px;
}

.body-section::-webkit-scrollbar {
    width: 0;
}

.body-section__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.body-section__form input {
    width: 470px;
    height: 50px;
    border: 1px solid var(--blue-green);
    color: var(--gray-700);
    padding: 6px;
    font-size: 1rem;
}

.body-section__form button {
    width: 60px;
    height: 60px;
    background-color: var(--blue-green);
    color: var(--gray-100);
    text-decoration: none;
    border: none;
    font-size: 1.4rem;
    margin: 60px;
}

.body-section__article {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: transparent;
}

@media (max-width: 880px) {
    .body-section__article {
        display: flex;
        flex-direction: column;
    }
}

.body-section__article article {
    max-width: 408px;
    min-height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    margin: 80px 40px 40px 40px;
}

.body-section__article article p {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 19px;
    line-height: 2em;
    color: var(--gray-700);
}

.body-section__article--top {
    background-color: transparent;
    text-decoration: none;
}

.body-section__article--top h2 {
    color: var(--blue-green);
}

.first-of-top {
    width: 80px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 466px;
    z-index: 3;
    background-color: var(--blue-green);
    color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-of-top {
    width: 386px;
    height: 222px;
    position: relative;
    background-color: transparent;
    transition-duration: 1s;
    overflow: hidden;
}

.last-of-top img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition-duration: 0.7s;
}

.body-section__article--top:hover .last-of-top__img {
    top: 0;
    right: -50px;
    transition-duration: 1s;

}

.body-section__article--span-one {
    display: flex;
    justify-content: space-between;
    color: var(--blue-green);
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 19px;
    line-height: 2em;
}

.body-section__article--span-two {
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 19px;
    line-height: 2em;
}

.body-section__btn {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.body-section__btn--first-btn {
    display: flex;
    justify-content: space-around;
}

.body-section__btn--first-btn button {
    width: 130px;
}

.body-section__btn--last-btn {
    display: flex;
    justify-content: space-around;
}

.body-section__btn--last-btn button {
    width: 54px;
}

.body-section__btn--last-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-700);
}

.body-section__btn div button {
    height: 54px;
    color: var(--gray-700);
    background-color: var(--gray-200);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
}

.body-section__btn--last-btn button:hover {
    background-color: var(--blue-green);
    color: var(--gray-100);
}

.body-section__btn--first-btn button:hover {
    background-color: var(--blue-green);
    color: var(--gray-100);
}

.body-section__btn--first-btn button:first-child {
    cursor: not-allowed;
}

.body-section__btn--first-btn button:last-child {
    background-color: var(--blue-green);
    color: var(--gray-100);
}

.body-section__btn--last-btn button:first-child {
    background-color: var(--blue-green);
    color: var(--gray-100);
}

.body-section__last-part {
    max-width: 100%;
    min-height: 200px;
    text-align: center;
    color: var(--gray-700);
    padding: 40px;
}

.body-section__last-part--text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
